<div id="root"><h1>Yo</h1>
</div>

<script type="text/javascript" >
  window.images = {
    plusImg: '<%= asset_path('images/places/plus.png') %>',
    githubImg: '<%= asset_path('images/footer/github.svg') %>',
    linkedinImg: '<%= asset_path('images/footer/linkedin.png') %>',
  }
</script>
