* {
  box-sizing: border-box;
}

#root {
  // border: 5px solid red;
}

@font-face { 
  font-family: 'Google Sans';
  // src: url(./fonts/GoogleSans-Regular.ttf) format('truetype');
  src: font_url('fonts/GoogleSans-Regular.ttf');
  // src: asset_url('GoogleSans-Regular.ttf');
}

button {
  cursor: pointer;
}

:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}


@import 'footer';
@import 'nav_bar';
@import 'places_index';
@import 'session';
@import 'modal';