
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 50%;
  height: 70%;
  border: 1px solid lightslategray;
  border-radius: 10px;

  .session-form {
    font-family: 'Google Sans';

    input {
      padding: 6px;
    }

    .close-x {
      float: right;
      cursor: pointer;
    }

    .modal-title {
      // text-transform: uppercase;
      font-size: 26px;
      margin: 0 auto;
      width: 100%;
      padding-top: 50px;
      text-align: center;

    }

    .login-form-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      section {
        z-index: 1;
        position: relative;
        top: 32px;
        left: 6px;
        font-size: 20px;
        color: #80868B
      }

      input {
        font-size: 20px;
        border-radius: 3px;
      }


      .other-form-button {
        border: none;
        background-color: inherit;
        position: absolute;
        bottom: 73px;
        left: 40px;
      }

      .form-button {
        background: #1a1aff;
        color: white;
        border-radius: 4px;
        width: 90px;
        height: 40px;
        position: absolute;
        right: 40px;
        bottom: 60px;
      }

      .form-button:hover {
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
        transition: box-shadow 0.5s;
      }

    }

    .session-errors {
      text-align: center;
    }
  }
}

.fading {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fading;
  animation-duration: 1s;
  animation-name: fading;
}

@-webkit-keyframes fading {
  from {
      color: red;
  }
  to {
      color: black;
  }
}
@keyframes fading {
  from {
      color: red;
  }
  to {
      color: black;
  }
}


  // .placeholder::placeholder {
  .placeholderText {
    position: relative;
    top: -24px;
    font-size: 14px;
    color: #2276E4;
    background: white;
    padding: 3px;
  }