.nav-bar {
  display: flex;
  // border: 2px solid black;
  position: sticky;
  top: 0;
  margin-top: -25px;
  height: 55px;

  .login-logout-options {
    text-align: center;
    vertical-align: middle; 
    padding-top: 10px;
    border-radius: 5px;

    :hover {
      background-color: rgb(246, 247, 252);
      transition: background-color 0.5s;
      border-radius: 5px;
      cursor: pointer;
    }

    button {
      border: none;
      background-color: inherit;
      font-size: 16px;
      color: rgb(32, 109, 209);
      padding: 10px;
      border-radius: 4px;

    }
  }
  
  .logo {
    width: 15%;
    // border: 2px solid green;
    text-align: center;
    vertical-align: middle;
    display: flex;

    .logo-button {
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
    }

    .logo-button:hover {
      cursor: pointer;
      background: inherit;
      // background-color: #f6f7fc;
      // transition: box-shadow 0.5s, background-color 0.5s;
      // transition: background-color 0.5s;
    }
    
    
    img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
      margin-top: 5px;
    }
    
    p {
      font-size: 20px;
      // font-family: 'Raleway', sans-serif;
      color: rgba(0, 0, 0, 0.54);
      // font-weight: bold;
      text-decoration: none;
      padding-bottom: -5px;
    }
  }
  .nav-display {
    width: 85%;
    // border: 2px solid green;
    display: flex;
    justify-content: flex-end;

    .login-logout-options {
      // border: 2px solid orange;
    }
  }

}