.page {
  display: flex;
  // margin: 0px 0px 0px 0px;
  // margin-top: 20px;
  background-color: #F1F3F4;
  border-top: 1px solid #DADCE0;
}

.page-show {
  width: 75%;
  background-color: white;
  margin-left: 30px;
  margin-top: 10px;
}
.page-show-header {
  height: 250px;
  // height: 20%;
  
  // background-color: cyan;
  // background: url({window.images.pagesHeaderGridHandIndigo})
  // background: url("../../javascripts/images/pages_show_header/86_grid_hand_indigo.jpg");
  // background-image: url("/app/assets/javascripts/images/pages_show_header/86_grid_hand_indigo.jpg");
  background-image: linear-gradient(to bottom right, #2D3539, rgb(51, 83, 99));
  color: white;
  // display: flex;
  font-family: 'Google Sans';

}

.place-name {
  width: 100%;
  display: block;
}

.page-title {
  display: block;
  display: flex;
  justify-content: center;
}

.page-title textarea {
  // color: orange;
  // line-height: 100px;
  background: inherit;
  border: none;
  color: white;
  font-size: 48px;
  text-align: center;
  white-space: normal;
}

.page-show-body {
  background-color: white;
  min-height: 300px;
  border: 1px solid #DADCE0;
  // height: 80%;

}

.pages-index {
  position: relative;
  // top: 75px;
  right: 0;
  // height: 100%;
  min-height: 86.5%;
  width: 25%;
  margin-left: 25px;
  background-color: white;
}

.pages-index-header {
  // border-top: 1px solid #DADCE0;
  line-height: 60px;
  border-left: 1px solid #DADCE0;
  border-bottom: 1px solid #DADCE0;
  text-align: center;
  cursor: pointer;
  font-family: 'Google Sans';
  font-weight: bold;
  font-size: 18px;
  height: 60px;
  // vertical-align: center;
  // flex-direction: column;
  // justify-items: center;
}

.pages-index-body {
  border-left: 1px solid #DADCE0;
  font-family: 'Google Sans';
  font-weight: normal;
  min-height: 800px;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.pages-index-body img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.pages-index-body span {
  // margin-bottom: 20px;
  // padding-bottom: 20px;
  // line-height: 25px;
  vertical-align: top;
}

.pages-index-selected {
  color: blue;
}

.pages-index-dropdown {
  float: right;
  visibility: hidden;
  // visibility: visible;
}

.pages-index-dropdown:hover {
  visibility: visible;
  // visibility: hidden;
}

.page-index-items {
  margin-bottom: 5px;
}

