.page {
  display: flex;
  // margin: 0px 0px 0px 0px;
  // margin-top: 20px;
  background-color: #F1F3F4;
}

.page-show {
  width: 75%;
  background-color: white;
  margin-left: 30px;
  margin-top: 10px;
}
.page-show-header {
  height: 250px;
  // height: 20%;
  
  // background-color: cyan;
  // background: url({window.images.pagesHeaderGridHandIndigo})
  // background: url("../../javascripts/images/pages_show_header/86_grid_hand_indigo.jpg");
  // background-image: url("/app/assets/javascripts/images/pages_show_header/86_grid_hand_indigo.jpg");
  background-image: linear-gradient(to bottom right, #2D3539, rgb(51, 83, 99));
  color: white;
  // display: flex;
  font-family: 'Google Sans';

}

.place-name {
  width: 100%;
  display: block;
  background: none;
  border: none;
}

.place-name input {
  // background: inherit;
  background: none;
  border: none;
  color: white;
  margin-left: 20px;
  line-height: 40px;
}

.place-name input:focus {
  outline: 0;
  border-bottom: 1px solid white;
  // transition: border-bottom 2s;
}

.page-title {
  margin-top: 10px;
  display: block;
  display: flex;
  justify-content: center;
}

.page-title:focus {
  outline: 0;
  border: 1px solid blue;
}

.page-title textarea {
  // color: orange;
  // line-height: 100px;
  background: inherit;
  border: none;
  color: white;
  font-size: 48px;
  text-align: center;
  white-space: normal;
}

.page-show-body {
  background-color: white;
  min-height: 300px;
  border: 1px solid #DADCE0;
  // height: 80%;
  // display: flex;
  // flex-direction: column;
  display: block;

}

.pages-index {
  position: relative;
  // top: 75px;
  right: 0;
  // height: 100%;
  // min-height: 86.5%;
  width: 25%;
  margin-left: 25px;
  background-color: white;
  border-left: 1px solid #DADCE0;
  border-bottom: 1px solid #DADCE0;
}

.pages-index-header {
  // border-top: 1px solid #DADCE0;
  line-height: 60px;
  // border-left: 1px solid #DADCE0;
  text-align: center;
  cursor: pointer;
  font-family: 'Google Sans';
  font-weight: bold;
  font-size: 18px;
  height: 60px;
  color: #5964AA;
  // vertical-align: center;
  // flex-direction: column;
  // justify-items: center;
}

.blue-knub-thingy {
  background-color: #5964AA;
  height: 3px;
  width: 60px;
  position: relative;
  bottom: 0;
  right: -35%;
}

.bottom-border {
  border-bottom: 1px solid #DADCE0;
}

.pages-index-body {
  // border-left: 1px solid #DADCE0;
  font-family: 'Google Sans';
  font-weight: normal;
  min-height: 400px;
  // height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.pages-index-body ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.pages-index-body ul li {
  margin: 0px;
  padding: 0px;
}

.pages-index-body img {
  height: 16px;
  width: 16px;
}

.pages-index-body span {
  // margin-bottom: 20px;
  // padding-bottom: 20px;
  // line-height: 25px;
  vertical-align: top;
}

.pages-index-selected {
  color: blue;
  margin-left: 5px;
}



.page-index-items {
  // margin-bottom: 5px;
  opacity: 100;
  // opacity: 0;
  text-decoration: none;
  display: block;
  height: 25px;
  cursor: pointer;
  margin-left: 20px;
}

.page-index-items a:hover {
  text-decoration: none;
  background: inherit;
}



.pages-index-footer {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.new-page-plus-button {
  width: 55px;
  height: 55px;
  border: 1px solid #DADCE0;
  border-radius: 50%;
  box-shadow:
    0px 6px 10px 0px rgba(0,0,0,0.14),
    0px 1px 18px 0px rgba(0,0,0,0.12),
    0px 3px 5px -1px rgba(0,0,0,0.2);
}

.new-page-plus-button:focus {
  border: none;
  outline: 0;
}

.new-page-plus-text {
  line-height: 30px;
  position: relative;
  bottom: 50%;
  font-size: 24px;
  color: blue;
  margin-bottom: 10px;

}


