.places-index {
  display: grid;
  grid-template-columns: 5fr;
  grid-gap: 20px;
  grid-template-rows: 
    "header nav-bar"
    "main body"
    "footer footer";

  // border: 2px solid black;

  .places-index-header {
    display: flex;
    justify-content: center;

    .places-dropdown {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .places-dropdown:hover {
      background-color: rgb(217, 217, 226);
      transition: background-color 0.5s;
      border-radius: 5px;
    }
  }

  .places {
    // border: 2px solid green;
    // height: 1000px;
    display: flex;
    flex-wrap: wrap;

    .place-index-item {
      flex: 0 0 21%;
      // flex: 0 0 80%;
      margin: 5px;
      // height: 280px;
      list-style: none;
      border: 2px solid #DFE1E5;
      
    }
      
      Link {
        text-decoration: none;
      }

      :hover {
      text-decoration: none;

      }

      .place-index-item-head {
        height: 60px;
      }
      .place-index-item-body {
        height: 120px;
        border-top: 2px solid #DFE1E5;
        border-bottom: 2px solid #DFE1E5;
      }
      .place-index-item-foot {
        height: 70px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        .place-index-item-foot-title {
          position: relative;
          padding-top: 10px;
          padding-left: 4px;
        }
        padding-left: 10px;
        footer {
          padding-top: 6px;
          .mini-doc {
            height: 22px;
            width: 22px;
          }
          .mini-shared-img {
            height: 20px;
            width: 20px;
          }
          .mini-updated-at {
            font-size: 11px;
            padding-bottom: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }


 
// @media all and (min-width: 800px) {
//   .place-index-item {
//     flex: 0 0 21%;
//   }
// }