.list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center

}

// .list a {
//   justify-content: center;
// }

.place-index-list {
  border: 1px solid magenta;
  width: 70%;
  border-radius: 45px;
}

// .place-index-list-item {
//   display: flex;
//   flex-direction: row;
// }

.place-index-body {
  display: flex;
  flex-direction: row;
}