.places-hamburger-dropdown {
  position: relative;
}

.places-hamburger-dropdown ul {
  list-style-type: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  top: 20px;
  left: 0;
  width: 200px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.places-hamburger-dropdown ul li {
  padding: 8px 16px;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  text-align: left;
}

.places-hamburger-dropdown ul li a {
  text-decoration: none;
}

.places-hamburger-dropdown ul li img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.places-hamburger-dropdown ul li:first-child {
  border-top: 2px solid #e5e5e5;
}

.places-hamburger-dropdown ul li:last-child {
  border-bottom: 2px solid #e5e5e5;
}
.places-hamburger-dropdown ul li:hover {
  background-color: #e5e5e5;
}

.mini-place-index-hamburger:before {
  content: "";
  width: 0px;
  height: 0px;
}
