.places-index {
  display: grid;
  grid-template-columns: 5fr;
  grid-gap: 20px;
  grid-template-rows: 
    "header nav-bar"
    "main body"
    "footer footer";

  // border: 2px solid black;

  .places-index-header {
    display: flex;
    justify-content: center;

    .places-dropdown {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .places-dropdown:hover {
      background-color: rgb(217, 217, 226);
      transition: background-color 0.5s;
      border-radius: 5px;
    }
  }

  .places {
    // border: 2px solid green;
    // height: 1000px;
    display: flex;
    flex-wrap: wrap;

    .space-fixer {
      flex: 1;
    }

    .place-index-item {
      border: 2px solid orange;
      flex: 0 0 21%;
      // flex: 0 0 80%;
      margin: 5px;
      height: 180px;
      list-style: none;
      
    }
      
      Link {
        text-decoration: none;
      }

      :hover {
      text-decoration: none;

      }

      .place-index-item-head {
        height: 40px;
        border: 2px solid purple;
      }
      .place-index-item-body {
        height: 90px;
        border: 2px solid purple;
      }
      .place-index-item-foot {
        height: 50px;
        border: 2px solid purple;
      }
    }
  }


 
// @media all and (min-width: 800px) {
//   .place-index-item {
//     flex: 0 0 21%;
//   }
// }